@charset "ISO-8859-1";

body {
    min-height: 100vh;
    overflow: hidden; /* Hide scrollbars */
    
}
.bg{
	position:absolute;
	top:-650px;
	left:-250px;
	width:100%;
	z-index:-1;	
}
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.hehe{
	position:absolute;
	left: 70px;
	top: -45px;
	padding: 10px;
	width:55%;
}



.joinButton{
	position: absolute;
	bottom: 80px;
	left: 220px;
	width: 500px;
}

.pic-ctn {
	position:absolute;
	top:450px;
	right: 300px;
  	width: 100px;
  	height: 100px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}


.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
