@charset "ISO-8859-1";
body{
	overflow:hidden;
}
.bg{
	position:absolute;
	top:-650px;
	left:-70px;
	width:100%;
	z-index:-1;	
}

.skills{
	position: absolute;
	top:150px;
	left:100px;
	max-height: 400px;
	overflow-x: hidden;
  	overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; 
 
}